#mask {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    @include transition(0.3s);
    
    &.show {
        opacity: 1;
        visibility: visible;
    }
}